@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Spartan&display=swap');

/* font-family: 'Roboto', ;
font-family: 'Roboto Condensed', ; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
header, #footer {
  z-index: 5;
}

header {
  margin-bottom: 1vh;
}

h6.MuiTypography-root.makeStyles-title-3.MuiTypography-h6{
  display: flex;
  justify-content: center;
}
#footer {
  position: fixed;
  bottom: 0;
  margin-top: 1vh;
}

.one-column {
  display: grid;
  justify-items: center;
  align-items: end;
}

.one-column > button:first-child{
  margin: 2vh;
}

.fullwidth {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex
}

.image-preview-info{
  height: 90vw;
  width: 90vw;
border: 1px solid blue
}

.is-hidden{
  display: none;
}

.icon-avatar {
  align-items: center;
  border: 2px solid #59a27a;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.icon-avatar:hover .MuiSvgIcon-root {
  cursor: pointer;
}

.icon-image{
  align-items: center;
  border: 2px solid #59a27a;
  /* border-radius: 50%; */
  display: flex;
  height: 50vw;
  justify-content: center;
  min-height: 50vw;
  min-width: 50vw;
  overflow: hidden;
  position: relative;
  width: 100%;
}