* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiBottomNavigation-root {
  position: fixed;
  bottom: 0;
}

.one-column {
  display: grid;
  justify-items: center;
  align-items: end;
}

.fullwidth {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
